<!DOCTYPE html>
<html lang="en">
<head>
    {% include "meta.html" %}
    <link rel="stylesheet" type="text/css" href="/static/article.css">
    <meta name="description" content="How to connect to the mc.digitalnook.net Minecraft server">
    <title>How to connect</title>
</head>
<body>
{% include "home_button.html" %}
<header>
    <h1>How to connect</h1>
</header>
<main>
    <div class="mainText">
        <ol>
            <li>Open Minecraft: Java Edition</li>
            <li>Click "Multiplayer"</li>
            <li>Click "Add Server"</li>
            <li>Enter "mc.digitalnook.net" into the "Server Address" box</li>
            <li>Click "done"</li>
            <li>Select the server from the list and then click "Join server"</li>
        </ol>
    </div>
</main>
</body>
</html>