<!DOCTYPE html>
<html lang="en">
<head>
    {% include "meta.html" %}
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta name="description" content="Digital Nook Minecraft server">
    <title>Digital Nook Minecraft</title>
</head>
<body>
<header>
    <h1>Welcome to mc.digitalnook.net!</h1>
</header>
<nav>
    <a href="{{ url_for('how_to_connect') }}">
        <button>How to connect</button>
    </a>
    <a href="/survival_map/">
        <button>Survival Map</button>
    </a>
	<!-- Path handled by nginx auto index -->
	<a href="/old_worlds/">
        <button>Download old worlds</button>
    </a>
    <a href="{{ url_for('about') }}">
        <button>About the server</button>
    </a>
</nav>
<footer>
    <a href="https://github.com/exciteabletom/mc.digitalnook.net">View source code</a>
</footer>
</body>
</html>